@media print {
    @page {
        size: A4;
        margin: 0; /* Установите поля печатной страницы */

    }

    body {
        visibility: hidden;
    }
        
    .a4-container {
        visibility: visible;
        position: absolute;
        left: 0px;
        top: 0px;
    }
}
